.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.spinner {
  display: inline-block;
  position: relative;
}

.spinner-small {
  width: 32px;
  height: 32px;
}

.spinner-medium {
  width: 48px;
  height: 48px;
}

.spinner-large {
  width: 64px;
  height: 64px;
}

.spinner-ring {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #605ed3;
  border-color: #605ed3 transparent transparent transparent;
  animation: spinner-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner-small .spinner-ring {
  width: 32px;
  height: 32px;
  border-width: 2px;
}

.spinner-medium .spinner-ring {
  width: 48px;
  height: 48px;
  border-width: 3px;
}

.spinner-large .spinner-ring {
  width: 64px;
  height: 64px;
  border-width: 4px;
}

.spinner-ring:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner-ring:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner-ring:nth-child(3) {
  animation-delay: -0.15s;
}

.spinner-message {
  margin-top: 1rem;
  color: #6b7280;
  font-size: 0.875rem;
  text-align: center;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

