@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aileron-Regular";
}

/* Fix para componentes interactivos */
button,
a {
  @apply transition-colors duration-200;
}

/* Fondo general */
html {
  background-color: #f3f3fd;
}

@font-face {
  font-family: "Aileron-Regular";
  src: url("assets/fonts/Aileron-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Aileron-Bold";
  src: url("assets/fonts/Aileron-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Aileron-Black";
  src: url("assets/fonts/Aileron-Black.otf") format("opentype");
}

@font-face {
  font-family: "Aileron-Heavy";
  src: url("assets/fonts/Aileron-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Aileron-Semibold";
  src: url("assets/fonts/Aileron-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-ExtraBold-Italic";
    src: url("assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("assets/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Medium";
    src: url("assets/fonts/OpenSans-Medium.ttf") format("truetype");
}



:root {
  --color-primario: #4d4fce;
  --color-primario-dark: #3a3cb5;
}

/* Tema Morado (default) */
.tema-morado {
  --color-primario: #605ed3;
  --color-primario-dark: #7a78db;
}

/* Tema Rosa */
.tema-rosa {
  --color-primario: #d288c4;
  --color-primario-dark: #e6a0d8;
}

/* Tema Esmeralda */
.tema-esmeralda {
  --color-primario: #10b981;
  --color-primario-dark: #34d399;
}

/* Tema Ámbar */
.tema-ambar {
  --color-primario: #f59e0b;
  --color-primario-dark: #fbbf24;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.bg-custom-morado {
  background-color: #605ed3;
}

/* Asegura que el carrito esté por encima de todo */
app-cart {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
}

a {
  text-decoration: none !important;
}
