<div class="login-bg">
  <div class="login-box">
    <img src="./assets/img/logo.png" alt="Logo" />

    <h2 class="login-subtitle">Crea tu cuenta para ver los cursos</h2>

    <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <label for="username" class="login-label">Nombre de usuario</label>
      <input
        type="text"
        id="username"
        class="login-input"
        placeholder="usuario"
        formControlName="username"
        (blur)="checkUserExists()"
        (input)="validateUsername()"
      />
      <div *ngIf="usernameError" class="error-text">
        {{ usernameError }}
      </div>

      <!-- Correo -->
      <label for="email" class="login-label">Correo electrónico</label>
      <input
        type="email"
        id="email"
        class="login-input"
        placeholder="tuemail@ejemplo.com"
        formControlName="email"
        (input)="validateEmail()"
      />
      <div *ngIf="emailError" class="error-text">
        {{ emailError }}
      </div>

      <!-- Contraseña -->
      <label for="password" class="login-label">Contraseña</label>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          class="login-input password-input"
          placeholder="********"
          formControlName="password"
          (input)="validatePassword(); validateConfirmPassword()"
        />
        <button
          type="button"
          class="password-toggle"
          (click)="togglePasswordVisibility()"
          tabindex="-1"
        >
          <svg
            *ngIf="!showPassword"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-eye"
          >
            <path
              d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
            />
            <circle cx="12" cy="12" r="3" />
          </svg>

          <svg
            *ngIf="showPassword"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-eye-off"
          >
            <path
              d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"
            />
            <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242" />
            <path
              d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"
            />
            <path d="m2 2 20 20" />
          </svg>
        </button>
      </div>
      <div *ngIf="passwordError" class="error-text">
        {{ passwordError }}
      </div>

      <!-- Confirmar contraseña -->
      <label for="confirmPassword" class="login-label"
        >Confirmar contraseña</label
      >
      <div class="password-container">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          class="login-input password-input"
          placeholder="Vuelve a escribir tu contraseña"
          formControlName="confirmPassword"
          (input)="validateConfirmPassword()"
        />
        <button
          type="button"
          class="password-toggle"
          (click)="toggleConfirmPasswordVisibility()"
          tabindex="-1"
        >
          <svg
            *ngIf="!showConfirmPassword"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-eye"
          >
            <path
              d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
            />
            <circle cx="12" cy="12" r="3" />
          </svg>

          <svg
            *ngIf="showConfirmPassword"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-eye-off"
          >
            <path
              d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"
            />
            <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242" />
            <path
              d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"
            />
            <path d="m2 2 20 20" />
          </svg>
        </button>
      </div>
      <div *ngIf="confirmPasswordError" class="error-text">
        {{ confirmPasswordError }}
      </div>

      <button
        type="submit"
        class="btn-login"
        [disabled]="
          loading ||
          usernameError ||
          emailError ||
          passwordError ||
          confirmPasswordError
        "
      >
        {{ loading ? "Creando cuenta..." : "Crear cuenta" }}
      </button>

      <!-- Mensajes -->
      <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success-text">{{ successMessage }}</p>
    </form>

    <div class="text-register">
      <p>¿Ya tienes una cuenta?</p>
      <a routerLink="/login" class="btn-register">Inicia sesión</a>
    </div>
  </div>
</div>
